<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CMS20.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CMS20.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="PrintGameDataEntities" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ZEUS;initial catalog=PrintGameData;user id=sa;password=Vbyth@104rf;application name=EntityFramework;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.9.0" newVersion="1.4.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CMS20.Properties.Settings>
      <setting name="WatermarkImgPath" serializeAs="String">
        <value>D:\tool\ImageMagik\logo-main.png </value>
      </setting>
    </CMS20.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <CMS20.Properties.Settings>
      <setting name="ImageMagikWorkingDirectory" serializeAs="String">
        <value>D:\tool\ImageMagik\</value>
      </setting>
      <setting name="RarPath" serializeAs="String">
        <value>C:\Progra~1\WinRAR\rar.exe</value>
      </setting>
      <setting name="ZipDescFile" serializeAs="String">
        <value>D:\Content\zipdesc.txt</value>
      </setting>
      <setting name="DstGameDirPath" serializeAs="String">
        <value>D:\Content\GameData\</value>
      </setting>
      <setting name="SrcGameDirPath" serializeAs="String">
        <value>D:\Game_Base</value>
      </setting>
      <setting name="FileShareFolder" serializeAs="String">
        <value>D:\Content\FileShare\</value>
      </setting>
    </CMS20.Properties.Settings>
  </userSettings>
</configuration>