
#game {
    border: 1px solid #c6d9ec;
    background: url('groove_paper.png') 0 0 repeat;

    .post {
        float: left;
    }

    .gameIcon {
        font-size: 14px;
        margin-left:310px;
        ul {
            list-style: none;

            li {
                margin-bottom:5px;
            }
        }


        li > img {
        }

        li:nth-child(1) {
        }
    }
}
