html,
body {
  width: 100%;
  height: 100%;
}
body {
  font: normal 12px "Arial", Arial, Helvetica, sans-serif;
  color: #666;
  line-height: 1.2;
  min-width: 970px;
}
h1,
h2,
h3,
h4 {
  margin-top: 0;
}
header {
  height: 150px;
  background: url('bg-header.jpg') 0 0px;
}
header .logo_main {
  padding-left: 20px;
  padding-top: 30px;
}
footer {
  background-color: black;
  border-top: 2px solid #dddddd;
  text-align: center;
}
footer a {
  color: #d11f1f;
}
footer a:hover {
  color: #f00a0a;
  text-decoration: underline;
}
.ratio {
  width: 108px;
  height: 19px;
  background-image: url('rating stars empty.png');
  margin-left: 5px;
}
.ratio > div {
  background-image: url('rating stars full.png');
  height: 19px;
  width: 22px;
}
.row {
  margin-top: 10px;
}
article {
  background: url('groove_paper.png') 0 0 repeat;
}
.topic {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  padding: 20px 20px 21px 37px;
  background: url('bg-topic.png') 0 0 repeat;
  margin: 2px 2px 5px 2px;
}
a {
  color: white;
}
.pang {
  text-align: center;
  margin-bottom: 20px;
}
.pagination a {
  color: #428bca;
}
.pagination li > span {
  color: #b3b3b3;
}
.pagination li > span :hover {
  background-color: #fff;
}
#main_wrapper {
  background: url('bg-main.gif') 0 0 repeat;
}
#column_main {
  padding-right: 0;
  padding-left: 0;
}
#column_main article {
  margin-bottom: 15px;
  border: 1px solid #c6d9ec;
}
.post a {
  color: #0D377C;
  font-weight: 700;
}
.post > div:last-child {
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.post .post_image {
  height: 300px;
  width: 300px;
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.post .post_data {
  margin-right: 10px;
  font-size: 14px;
  line-height: 18px;
  text-align: justify;
  text-indent: 20px;
}
#licence {
  border: 1px solid #c6d9ec;
  background: url('groove_paper.png') 0 0 repeat;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
}
#licence h1 {
  text-align: center;
  margin-bottom: 30px;
}
#licence ul {
  list-style: none;
  margin-bottom: 25px;
}
#licence ul li {
  text-indent: 10px;
}
#licence p {
  text-indent: 20px;
}
#column_left {
  padding-left: 0;
}
#column_left .left_cell {
  border: 1px solid #9e9c9c;
  margin-bottom: 10px;
}
#column_left ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
#column_left li {
  padding: 8px 20px;
  font-size: 14px;
  border-bottom: 1px solid #fff;
  background-color: #d9d9d9;
}
#column_left li:last-child {
  border-bottom: none;
}
#column_left a {
  color: black;
}
#login_form {
  background-color: #d9d9d9;
}
#login_form form {
  margin: 0;
  font-size: 14px;
  color: black;
  padding-bottom: 5px;
}
#login_form form p {
  margin-top: 5px;
  margin-bottom: 1px;
  margin-left: 3px;
}
#login_form form input {
  margin-left: 5px;
}
#login_form form input[type="submit"] {
  margin-top: 3px;
}
#login_form form a {
  color: #666;
}
#login_form form div {
  margin-top: 10px;
  margin-left: 5px;
  padding-bottom: 5px;
}
#login_form p {
  color: black;
  font-size: 14px;
  margin-left: 15px;
}
#game {
  border: 1px solid #c6d9ec;
  background: url('groove_paper.png') 0 0 repeat;
}
#game #GameImage {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 5px;
}
#game #GameImage #Main_image {
  margin-bottom: 5px;
}
#game #GameImage #ImageList {
  width: 300px;
  position: relative;
}
#game #GameImage #ImageList .nav_btn {
  width: 10px;
  height: 80px;
  float: left;
}
#game #GameImage #ImageList #view_scroll_left,
#game #GameImage #ImageList #view_scroll_right {
  width: 10px;
  height: 0;
  padding: 80px 0 0 0;
  overflow: hidden;
  background: url('arrow.png') 0 0 no-repeat;
  position: absolute;
  top: 0;
}
#game #GameImage #ImageList #view_scroll_right {
  background-position: 0 -80px;
}
#game #GameImage #ImageList #Clip_panel {
  width: 260px;
  height: 82px;
  float: left;
  overflow: hidden;
  margin: 0 10px;
}
#game #GameImage #ImageList img {
  height: 80px;
  width: 80px;
}
#game #GameImage #ImageList ul {
  list-style: none;
  width: 3000px;
  padding-left: 0px;
  /*li:nth-child(1), li:nth-child(2), li:nth-child(3) {
                    display: inline-block;
                }*/
}
#game #GameImage #ImageList ul li {
  display: list-item;
  float: left;
  margin-right: 10px;
}
#game .gameIcon {
  font-size: 14px;
  margin-left: 310px;
}
#game .gameIcon ul {
  list-style: none;
  margin-left: 10px;
  padding-left: 0;
}
#game .gameIcon ul li {
  margin-bottom: 5px;
}
#game .gameIcon #col_param {
  float: left;
  height: 280px;
  width: 150px;
}
#game .gameIcon #col_param li:last-child {
  margin-top: 20px;
}
#game .gameIcon #col_consist {
  margin-left: 150px;
}
.ratio_title {
  float: left;
  width: 60px;
}
.ratio {
  margin-left: 410px;
}